{% if activities.size > 0 %}

<div id="activities_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="activities_index_anchor"></a>
      <h3>ACTIVIDADES PARA ESTE PASO</h3>
      <div class="columns">
        <ol>
        {% for activity in activities %}
          <li><a href="#actividad-{{ activity.id }}" title="View Activity {{ activity.id }}">{{ activity.title }}</a></li>
        {% endfor %}
        </ol>
      </div>
      <div class="button">
        <a href="#actividad-a" title="View the In Detail">VE EN DETALLE</a>
      </div>
    </div>
  </div>
</div>

{% endif %}

