<div id="plays_index">
  <div class="outer_container">
    <div class="inner_container">
      <a class="anchor_offset" id="plays_index_anchor"></a>
      <h3>FORMATOS Y PLANTILLAS</h3>
      <div class="columns">
        <ol>
          <li><a href="{{site.baseurl}}/assets/Oficio Designacion Enlace y Administrador.docx">Oficio Designación Enlace y Administrador</a></li>
          <li><a href="{{site.baseurl}}/assets/Inventario General de Datos.csv">Inventario General de Datos</a></li>
          <li><a href="{{site.baseurl}}/assets/Plan de Apertura.csv">Plan de Apertura</a></li>
          <li><a href="{{site.baseurl}}/assets/Ficha Tecnica Catalogo dgm.pdf">Ficha técnica sobre el formato de catálogo de datos</a></li>
        </ol>
      </div>
    </div>
  </div>
</div>

