<div id="intro" class="introduction">
  <div class="outer_container">
    <div class="inner_container">
      {% capture introduction %}{% include introduction.md %}{% endcapture %}
      {{ introduction | markdownify }}
      <div class="button">
        <a href="paso-1" title="View the Plays">VE LOS
          PASOS</a>
      </div>
      <div class="button">
        <a href="https://github.com/mxabierto/guia#readme"
          title="Visit Github to Improve This Content">AYUDA A MEJORAR
        ESTE CONTENIDO</a>
      </div>
    </div>
  </div>
</div>

